.table-container {
    overflow-x: auto;
}

    .table-container .is-clipped {
        overflow-x: hidden;
    }

input {
    min-width: 95px !important;
}


.pagination {
    --bulma-pagination-margin: 0 !important;
}
